<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../static/css/cart.css">
</head>
<body>
    {{! * navbar }}
  <nav id="navbar">
    <div id="logo">
      <img src="../static/logo/main logo.png" alt="">
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/offers">Offers</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/order">Order</a></li>
    </ul>

    <input type="text" placeholder="search"></input>
    <button id="btn"><img src="../static/logo/search.png" alt=""></button>

    <div id="cart">
      <a href="/cart"><img src="../static/logo/cart.png" alt="" ></a>
    </div>
  </nav>
    

    

  {{!-- cart section --}}
  <section id="cart_secton">
    <h1>Cart</h1>
    <div class="cart">
      <img src="../static/products img/watch.jpg" alt="">
      <h2>Rolex watch</h2>
    </div>
    <div class="cart">
      <img src="../static/products img/dress.jpg" alt="">
      <h2>Dress</h2>
    </div>
    <div class="cart">
      <img src="../static/products img/lam.jpg" alt="">
      <h2>Lam</h2>
    </div>
  </section>

    {{!-- footer --}}
    <footer id="footer">
    <h2>Follow us on :</h2>
    <div id="logos">
      <img src="../static/logo/facebook.png" alt="" >
      <img src="../static/logo/instagram.png" alt="" >
      <img src="../static/logo/twitter.png" alt="" >
      <img src="../static/logo/github.png" alt="" >

    </div>
    <h1>ALL RIGTHS ARE RESERVED &COPY; 2023</h1>
  </footer>

</body>
</html>