<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vansh.in</title>

  <link rel="stylesheet" href="../static/css/style.css">
  <link />
  {{! * css }}
</head>

<body>
  {{! * navbar }}
  <nav id="navbar">
    <div id="logo">
      <img src="../static/logo/main logo.png" alt="">
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/offers">Offers</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/order">Order</a></li>
    </ul>

    <input type="text" placeholder="search"></input>
    <button id="btn"><img src="../static/logo/search.png" alt=""></button>

    <div id="cart">
      <a href="/cart"><img src="../static/logo/cart.png" alt=""></a>
    </div>
  </nav>

  <!--* section for slider-->

  <section id="slider">

    <div class="slideshow-container">

      <div class="mySlides fade">
        <div class="numbertext">1 / 6</div>
        <img src="../static/bg image/bg.jpg" style="width:100%" class="img">
        <div class="text">Caption Text</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 6</div>
        <img src="../static/bg image/bg1.jpg" style="width:100%" class="img">
        <div class="text">Caption Two</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 6</div>
        <img src="../static/bg image/bg2.jpg" style="width:100%" class="img">

        <div class="text">Caption Three</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">4 / 6</div>
        <img src="../static/bg image/bg3.jpg" style="width:100%" class="img">

        <div class="text">Caption Three</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">5 / 6</div>
        <img src="../static/bg image/bg4.jpg" style="width:100%" class="img">

        <div class="text">Caption Three</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">6 / 6</div>
        <img src="../static/bg image/bg5.jpg" style="width:100%" class="img">
         </div>

      </div>
      <br />

      <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>

  </section>

  <section id="products">
    <div id="container">
      <div class="box1">
        <h2>20% to 40% off</h2>
        <img src="../static/products img/dress.jpg" alt="">
      </div>
      <div class="box1">
        <h2>60% off on cosmatic</h2>
        <img src="../static/products img/dress2.jpg" alt="">
      </div>
      <div class="box1">
        <h2>heavy sales on combo</h2>
        <img src="../static/products img/combo.jpg" alt="">
      </div>

    </div>
    <div id="container2">
      <div class="box1">
        <h2>40% off on laptop</h2>
        <img src="../static/products img/laptop.jpg" alt="">
      </div>
      <div class="box1">
        <h2>free ear bads with laptop</h2>
        <img src="../static/products img/ear bads.jpg" alt="">
      </div>
      <div class="box1">
        <h2>Decotration items</h2>
        <img src="../static/products img/lam.jpg" alt="">
      </div>

    </div>
    <div id="container3">
      <div class="box1">
        <h2>50% off on tablet</h2>
        <img src="../static/products img/tablet.jpg" alt="">
      </div>
      <div class="box1">
        <h2>Enjoy your playlist</h2>
        <img src="../static/products img/head phone.jpg" alt="">
      </div>
      <div class="box1">
        <h2>Cool watch</h2>
        <img src="../static/products img/watch.jpg" alt="" </div>

      </div>
  </section>



  <!--* footer-->

  <footer id="footer">
    <h2>Follow us on :</h2>
    <div id="logos">
      <img src="../static/logo/facebook.png" alt="">
      <img src="../static/logo/instagram.png" alt="">
      <img src="../static/logo/twitter.png" alt="">
      <img src="../static/logo/github.png" alt="">

    </div>
    <h1>ALL RIGTHS ARE RESERVED &COPY; 2023</h1>
  </footer>



  <!--* js-->
  <script src="../static/js/script.js"></script>
</body>

</html>